<div class="menu-container container-block"><!--//Menu-->
	<h2 class="container-block-title">	Menu	</h2>
	<ul class="list-unstyled interests-list">
		<li><i class="fas fa-circle fa-xs"></i>
			<a href="{{ site.url }}">Home</a>
		</li>	
		<li><i class="fas fa-circle fa-xs"></i>
			<a href="/about/">About</a>
		</li>
		
		<li><i class="fas fa-circle fa-xs"></i>
			<a href="/contact/">Contact</a>
		</li>
		
		<li><i class="fas fa-circle fa-xs"></i>
			<a href="/blog/">Blog</a>
		</li>
		
		<li><i class="fas fa-circle fa-xs"></i>
			<a href="/online-cv"> CV </a>
		</li>
	</ul>
</div><!--//Menu-->